.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    display: inline;
    margin-right: 30px; /* Adjust spacing between menu items */
}

.navigation ul li a {
    text-decoration: none;
    color: #fff; /* Link text color */
    font-size: 30px; /* Font size for links */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}
.navigation {
    background-color: #282c3434;
}


