.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-image: url('../public/pexels-photo-3608542.jpeg');
  background-size:cover; 
  background-repeat: no-repeat; 
  background-position: center ; 
  background-attachment: fixed;
  min-height: 100vh;

  

}

