body {
  background: linear-gradient(0.45turn, #3f87a6, #ebf8e1, #e38251);
    background-attachment: fixed;
    background-size: cover;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav nav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav  h1 {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px ;

  text-decoration: none;
  font-size: 17px;
}

.topnav nav a:hover{
  color: #e38251;
  cursor: pointer;
  
}


h1 {
  color: #333;
  margin: 0;
}

.welcome-box h1{
  color: #f2f2f2;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.welcome-box h1 span{
  color: #e38251;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
  
  
  

  
 